<!--footer start from here-->
<footer ng-app="myApp.footer" ng-controller="footerCtrl">
    <div class="container-fluid" style="background-color: #eee;" ng-if="$state.current.name != 'signUp'">
      <div class="row" style="margin: 20px;">
        <div class="col-lg-6 col-sm-12">
            <p style="font-size:14px;">Join your local propane community page to share your experience and propane price. Your contribution will benefit your neighbors and community by choosing the right propane company.</p>
            <h3 style="color:#0097a9;">Sign Up for FREE today!</h3>
        </div>
        <a class="btn btn-success col-lg-3 col-lg-push-1 col-sm-12" style="height: 40px;margin-top: 15px;" ui-sref="signUp">
            <p style="font-size: 20px;">Sign Up</p>
        </a>

      </div>
    </div>
  <div class="container" style="padding-bottom:40px;">
    <div class="row">
      <div class="col-md-2 col-sm-6 footerleft ">
          <div class="logofooter">
                <img src="images/logo.png" alt="logo" height="100px">
          </div>
<!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        <p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
        <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 999 999</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@gaswebsite.com</p>-->
        
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom headerDivider">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a ui-sref="aboutUs">About Us</a></li>
          <li><a ui-sref="reviews">Residential</a></li>
          <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >Commercial</a>
                <ul class="dropdown-menu" style="left:0;width:230px;background-color: #222222;">                  
                  <li><a ng-click="redirectCommrcial('2' , 'Agriculture')" style="color: #FFF8DC;">Agriculture</a></li>                  
                  <li><a ng-click="redirectCommrcial('4' , 'Building and Development')" style="color: #FFF8DC;">Building and Development</a></li>
                  <li><a ng-click="redirectCommrcial('3' , 'Forklifts')" style="color: #FFF8DC;">Forklifts</a></li>
                  <li><a ng-click="redirectCommrcial('1' , 'Heating and Cooking')" style="color: #FFF8DC;">Heating and Cooking</a></li>
                </ul>
            </li> 
          <li><a ui-sref="bbq">BBQ</a></li>
          <li><a ui-sref="autoPropane">Auto Propane</a></li>

        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom headerDivider">
        <h6 class="heading7">Terms & Policy</h6>
        <ul class="footer-ul">
          <li><a ui-sref="terms"> Terms & Conditions</a></li>
          <li><a ui-sref="policy"> Privacy Policy</a></li>         
          <li><a ui-sref="advertiseWithUs"> Advertise With Us</a></li>
          <li><a ui-sref="careers"> Careers</a></li> 

        </ul>
      </div>
        
      <div class="col-md-4 col-sm-6 paddingtop-bottom headerDivider">
        <h6 class="heading7">Follow Us</h6>
        <div style="height: 60px;">
       
            <div class="col-md-2" style="margin:5px;background-color: #3b5998 ">
             <a style="color: #eee;margin: 5px;" target="_blank" href="https://www.facebook.com/Local-Propane-Prices-221957158342230/?ref=bookmarks"><i class="fa fa-2x fa-facebook"></i></a>
            </div>
          
           <div class="col-md-2" style="background-color: #00aced;margin:5px;">
             <a style="color: #eee;margin: 5px;" target="_blank" href="https://twitter.com/LocalPropane"><i class="fa fa-2x fa-twitter"></i></a>
            </div>
<!--            <div class="col-md-2 instagram" style="margin:5px;">
               <a style="color: #eee;margin: 5px;" href="https://www.facebook.com/facebook"><i class="fa fa-2x fa-instagram"></i></a>
            </div>-->
            <div class="col-md-2" style="background-color: #007bb6;margin:5px;">
               <a style="color: #eee;margin: 5px;" target="_blank" href="https://www.linkedin.com/groups/8634919"><i class="fa fa-2x fa-linkedin"></i></a>
            </div>
            
            <div class="col-md-2" style="background-color: #dd4b39;margin:5px;">
               <a style="color: #eee;margin: 5px;" target="_blank" href="https://plus.google.com/u/0/108803905466777117907"><i class="fa fa-2x fa-google-plus"></i></a>
            </div>
            
            <div class="col-md-2" style="background-color: #fe0000;margin:5px;">
               <a style="color: #eee;margin: 5px;" target="_blank" href="https://www.youtube.com/channel/UC6aQnJaIZc03tP5mI6exgZg"><i class="fa fa-2x fa-youtube-square"></i></a>
            </div>
        </div>
      </div>
<!--      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>-->
<!--      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/facebook"><a style="color: #eee" href="https://www.facebook.com/facebook"><i class="fa fa-2x fa-facebook"></i></a></blockquote>
          </div>
        </div>
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a style="color: #eee" href="https://www.facebook.com/facebook"><i class="fa fa-2x fa-twitter"></i></a></blockquote>
          </div>
        </div>
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a style="color: #eee" href="https://www.facebook.com/facebook"><i class="fa fa-2x fa-instagram"></i></a></blockquote>
          </div>
        </div>
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a style="color: #eee" href="https://www.facebook.com/facebook"><i class="fa fa-2x fa-linkedin"></i></a></blockquote>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright" >
  <div class="container">
    <div class="col-md-6 col-md-push-4">
      <p>© 2017 - All Rights Reserved with Local Propane Prices</p>
    </div>
<!--    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">localpropane.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>-->
  </div>
